#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}
.color{
  width: 10rem;
  height: 2rem ;
border: 2px solid  blue;
}

.firstName{
  border: 2px solid red; 
  width: 300px;
  height: 300px;
}